<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Directivas</title>
	</head>
	<body>

		<div id="app">
			<h2>Listado tareas</h2>
			<input type="text" placeholder="tarea nueva" v-model="tarea">
			<button v-on:click="agregarTarea">Agregar Tarea</button>
			<hr>
			<ul>
				<li v-for="item in tareas">
					{{ item.titulo }}
				</li>
			</ul>

			<hr>
			<h3>Tareas completadas</h3>
			<p>{{ mostrarNombre }} </p>
			<ul>
				<li v-for="item in mostrarCompletadas">
					{{ item.titulo }}

				</li>
			</ul>

			<hr>
			<h3>Mostrar por titulo</h3>
			<ul>
				<li v-for="item in mostrarPorTitulo">
					{{ item.titulo }}

				</li>
			</ul>


		</div>


		


		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<script src="app.js">
		</script>
	</body>
</html>
