<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link 
	rel="stylesheet" 
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
 integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
 crossorigin="anonymous">
		<link rel="stylesheet" href="main.css">
		<title>Listado de útiles</title>
	</head>
	<body>
		<div id="app">

			<!--	{{ header ? header : 'bienvenido'}} -->
			<div class="header">
			<h1>{{ header.toLocaleUpperCase() }}</h1>
			<button v-if="estado === 'default'"class="btn btn-primary" @click="cambiarEstado('edit')">Agregar</button>
			<button v-else class="btn btn-danger" @click="cambiarEstado('default')">Cancelar</button>
			</div>

			<div v-if="estado === 'edit'">
				<input type="text" placeholder="Agregar Nuevo" v-model="newUtil" @keyup.enter="guardarElemento">
				<p>{{ cantidadCaracteres }}/200</p>
				<button 
					@click="guardarElemento" 
					class="btn btn-primary"
     					v-bind:disabled="newUtil.length === 0"
					>
						Guardar
				</button>

			</div>
			
			<ul>
				<li v-for="item  in listarReversa" :class="{tachado : item.comprado }" @click="cambiarEstadoCompra(item)">
					{{item.util}}
				</li>
			</ul>
			<p v-if="utiles.length === 0">No existen elementos en la lista</p>

			<div>


				<script 
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
 integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" 
 crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
				<script src="app.js"></script>
	</body>
</html>
